$primary: #00a8e8;
$secondary: #003459;
$light-grey: #e9e9e9;
$black: #00171f;
$white: #fff;


// FONT SIZES
$fs-109: 6.81rem;
$fs-88: 5.5rem;
$fs-64: 4rem;
$fs-56: 3.5rem;
$fs-50: 3.12rem;
$fs-48: 3rem;
$fs-42: 2.625rem;
$fs-40: 2.5rem;
$fs-36: 2.25rem;
$fs-35: 2.188rem;
$fs-32: 2rem;
$fs-30: 1.875rem;
$fs-29: 1.81rem;
$fs-28: 1.75rem;
$fs-26: 1.625rem;
$fs-24: 1.5rem;
$fs-23: 1.44rem;
$fs-22: 1.375rem;
$fs-21: 1.31rem;
$fs-20: 1.25rem;
$fs-18: 1.125rem;
$fs-17: 1.063rem;
$fs-16: 1rem;
$fs-15: 0.93rem;
$fs-14: 0.875rem;
$fs-13: 0.81rem;
$fs-12: 0.75rem;
$fs-11: 0.69rem;
$fs-10: 0.63rem;

//FONT WEIGHTS
$fw-800: 800;
$fw-700: 700;
$fw-600: 600;
$fw-500: 500;
$fw-400: 400;
$fw-300: 300;

//TRANSITION
$transition: 0.3s ease;

//BOX-SHADOW
$box-shadow: rgba(99, 99, 99, 0.2) 0 2px 8px 0;
